<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>

    <h1>My Awesome App</h1>
  
    <% if (user) { %>
      <p><%= message %></p>
      <a href="<%= membersLink %>">Members Only Area</a> | <a href="<%= logoutLink %>">Sign Out</a>
    <% } else { %>
      <p>Welcome! Please <a href="<%= signupLink %>">Sign Up</a> or <a href="<%= loginLink %>">Log In</a></p>
    <% } %>
  
  </body>

</html>